<h1>Contacts</h1>

<form action="/input_form" method="get">
  <p>First Name</p>
  <input type="text" name="first">
  <p>Last Name</p>
  <input type="text" name="last">
  <p>Age</p>
  <input type="text" name="age">
  <p>Gender</p>
  <input type="text" name="gender">
  <button>Add to contacts!</button>
</form>



